#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

KVERS ?= $(shell uname -r)
KSRC ?= /lib/modules/$(KVERS)/build
kplevel := $(shell echo $(KVERS) | sed 's/[^\.]*\.\([^\.]*\)\..*/\1/')
MODDIR = ..

NDISSRC = $(shell pwd)
NDISVERS = $(shell cat $(NDISSRC)/version)
MAINT = Giridhar Pemmasani
MAINTEMAIL = ndiswrapper-general@lists.sourceforge.net
DRIVERSRC = $(NDISSRC)/driver
UTILSSRC = $(NDISSRC)/utils

kdist_image:
	$(MAKE) $(MFLAGS) -f debian/rules binary-modules
	$(MAKE) $(MFLAGS) -f debian/rules clean

# the kdist_clean target is called by make-kpkg modules_clean. It is
# responsible for cleaning up any changes that have been made by the
# other kdist_commands (except for the .deb files created).
kdist_clean: clean-module
	$(MAKE) $(MFLAGS) -f debian/rules clean

### end  KERNEL SETUP

clean: clean-module clean-utils

clean-module: build-module-prep
	echo "$(NDISSRC)"
	-$(MAKE) -C $(DRIVERSRC) clean
	-rm -f debian/ndiswrapper-module-$(KVERS).install
	dh_clean

check-perms:
	dh_testdir
	dh_testroot

clean-utils: build-utils-prep
	-$(MAKE) -C $(UTILSSRC) clean
	dh_clean

build-module-prep:
	sed -e 's/#KVERS#/$(KVERS)/g' -e 's/#NDISVERS#/$(NDISVERS)/g' -e 's/#DATE#/'"`date --rfc-822`"'/g' -e 's/#MAINT#/$(MAINT) <$(MAINTEMAIL)>/g' debian/changelog.template > debian/changelog
	sed -e 's/#KVERS#/$(KVERS)/' -e 's/#NDISVERS#/$(NDISVERS)/' \
		debian/control.module > debian/control

	if [ $(kplevel) == 4 ];then \
		module=ndiswrapper.o; \
	else \
		module=ndiswrapper.ko; \
	fi; \
	echo "driver/$$module /lib/modules/$(KVERS)/misc" \
		> debian/ndiswrapper-module-$(KVERS).install
	echo "lib/modules/$(KVERS)/misc" > debian/dirs

build-module:
	dh_installdirs lib/modules/$(KVERS)/misc
	$(MAKE) -C $(DRIVERSRC)

common-prolog:
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
#	dh_installmenu
	dh_installdebconf	
#	dh_installlogrotate	
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo

common-epilog:
	dh_install
	dh_link
	dh_strip
	dh_compress 
	dh_fixperms
#	dh_perl
#	dh_python
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums

build-utils-prep:
	sed -e 's/-#KVERS#//g' -e 's/#NDISVERS#/$(NDISVERS)/g' -e 's/#DATE#/'"`date --rfc-822`"'/g' -e 's/#MAINT#/$(MAINT) <$(MAINTEMAIL)>/g' debian/changelog.template > debian/changelog
	sed -e 's/#NDISVERS#/$(NDISVERS)/' debian/control.utils > debian/control
	cp debian/dirs.utils debian/dirs

build-utils:
	export DH_OPTIONS='-i'
	dh_installman ndiswrapper.8
	$(MAKE) -C utils all

binary-utils: build-utils-prep common-prolog build-utils common-epilog
	dh_builddeb --destdir=$(MODDIR)

binary-module: build-module-prep common-prolog build-module common-epilog
	dh_builddeb --destdir=$(MODDIR)

binary:
	$(MAKE) -f debian/rules binary-utils
	$(MAKE) -f debian/rules binary-module

.PHONY: binary binary-module binary-utils build-utils build-utils-prep common-epilog common-prolog clean-utils clean-module check-perms clean build-module build-module-prep
